<footer class="site-footer">
    <div class="footer-icons">
        <ul>
            <li>
                <a href="https://github.com/Hwang-Ju-Hyun" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github" style="font-size: 40px;"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>